<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>

    <form th:method="POST" th:action="@{/login}" th:object="${login}">
        <label for="login">Enter login: </label>
        <input type="text" th:field="*{login}" id="login" />

        <br />
        <label for="password">Enter password</label>
        <input type="text" th:field="*{password}" id="password" />

        <br />
        <input type="submit" value="Login!" />
    </form>
    <br/>
    <p style="color: red" th:text=${failed} />

</body>

</html>